@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
:root {
    --pacifico: 'Pacifico', cursive;
}
.bg1 {
    background-image: 
    linear-gradient(to left, rgba(245, 246, 252, 0), rgba(117, 19, 19, 0.73)),
    url('../img/beygelin.jpg');
    background-size: cover;
    background-position: center;
    height: 90vh;
}
.navbar {
    text-align: center;
}
.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#toygunu {
    font-size: 25px;
    text-transform: uppercase;
    font-family: var(--pacifico);
    color: #db0962;
}
.cd {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cd1 form {
    display: none;
}
.cd1 form input{
    margin: 15px auto;
}
#axtar {
    background: transparent;
    height: 30px;
    padding-left: 15px;
    outline: none;
    border: 1px solid aqua;
    color: #a0a0a0;
}
::placeholder {
    color: #a0a0a0;
  }
#sub {
    border: none;
    background-color: yellowgreen;
    color: #fff;
    height: 30px;
    padding: 0px 20px;
}
#sub:hover {
    background-color: #db0962;
    transition: 0.5s;
}
.cd2 a {
    font-size: 20px;
    text-decoration: none;
    color: #000;
    font-family: Arial,DejaVu Sans,Verdana,Roboto,sans‑serif;
}
.cd2 a:hover{
    color: #db0962;
    transition: 0.3s;
}
#hr1 {
    display: none;
}
.burger {
    display: block;
    cursor: pointer;
}
.burger .line1,
.burger .line2,
.burger .line3 {
    width: 24px;
    height: 3px;
    background-color: #000;
}
.burger.line1:hover {
    background-color: #db0962;
}
.burger.line2:hover {
    background-color: #db0962;
}
.burger.line3:hover {
    background-color: #db0962;
}
.burger .line2 {
    margin: 3px 0px;
}
.menu {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50%;
    height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #db0962;
    transform: translateX(100%);
    transition: 0.5s ease;
}
.menu > li > a{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.menu > li {
    margin: 55px auto;
}
.menu > li {
    opacity: 0;
}
body {
    overflow-x: hidden;
}
.nav-active {
    transform: translateX(0);
}
.close .line1 {
 transform: rotate(-45deg) translate(-5px,3px);
}
.close .line2 {
    opacity: 0;
}
.close .line3 {
    transform: rotate(45deg) translate(-5px,-3px);
}
#menu {
    display: none;
}
@keyframes linksFade {
    from{
      opacity: 0;
      transform: translateX(50px);
    }
    to{
      opacity: 1;
      transform: translateX(0px);
    }
  }
@media screen and (min-width: 769px) {
    .burger {
        display: none;
    }
    .container {
        max-width: 1152px;
        margin: 0 auto;
    }
    #hr1 {
        display: block;
        opacity: 0.5;
    }
    header {
        display: block;
    }
    .navdiv {
       flex-direction: row;
       justify-content: space-between;
    }
    #toygunu {
        margin-top: inherit;
    }
    .cd {
        align-items: center;
        margin-top: inherit;
        flex-direction: row;
    }
    .cd1 form{
        display: block;
        align-items: center;
        flex-direction: row;
    }
    #axtar {
        border-right: none;
        border-radius: 25px 0 0 25px;
    }
    #sub {
        border-radius: 0 25px 25px 0;
        height: 34px;
        margin-right: 15px;
        cursor: pointer;
    }
    .cd2 {
        margin-top: inherit;
    }
    #menu {
     display: block;
    }
    #menu > ul{
        padding: 10px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #menu > li > a {
        display: inline-block;
    }
    #menu a {
        position: relative;
        font-family:Arial, Helvetica, sans-serif;
        font-weight: 500;
        color: #a0a0a0;
        font-size: 18px;
        letter-spacing: 0.5px;
        padding: 10px;
    }
    #menu a:after {
        content: '';
        position: absolute;
        background-color: #db0962;
        height: 3px;
        width: 0;
        left: 0;
        bottom: -10px;
        transition: 0.3s;
    }
    #menu a:hover:after {
        width: 100%;
    }
    #menu a:hover {
        color: #db0962;
        transition: 0.3s;
    }
    .menu {
        display: none;
    }
    .title {
        font-size: 2.5rem;
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: -1px;
        color: #fff;
        word-spacing: 3px;
        font-weight: 700;
    }
    .subtitle {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.3rem;
        color: #fff;
        word-spacing: 3px;
        letter-spacing: -0.3px;
    }
    .bg1{
        position: relative;
        margin: 9px auto;
        padding-top: 150px  ;
        padding-left: 100px;
    }
}















 